<% provide(:title, 'Help') %>
<h1>Help</h1>

<h2>このサイトについて</h2>
<div class="span6">
<table class="table table-bordered table-hover">
	<thead >
		<tr>
			<th>
				111
			</th>
			<th>
				222
			</th>
			<th>
				333
			</th>
		</tr>
	</thead>
	<tbody >
		<tr>
			<td>aaa</td>
			<td>bbb</td>
			<td>ccc</td>
		</tr>
		<tr>
			<td>ddd</td>
			<td>eee</td>
			<td>fff</td>
		</tr>
	</tbody>
</table>
</div>
<div class="span6"></div>
